/* top menu */
.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  height: 5vh;
  padding: 0 20px;
}

.element{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* checkbox */
.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid #ddd;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #999;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #34f522;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}


/* details table */
.detail-row {
  display: none;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
}

.inner-table th,
.inner-table td {
  border: 1px solid #ccc;
  padding: 5px;
}

.main-row {
  cursor: pointer;
}


/* label on details table */
label{
  margin-left: 10px;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: default;
  margin-right: 6px;
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.tooltip-inside {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1f1f;
  color: #fff;
  padding: 6px 8px 6px 0px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

.tooltip-inside::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 99%;
  transform: rotate(90deg);
  border-width: 6px;
  border-style: solid;
  border-color: #1f1f1f transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip-inside {
  transform: translateX(-50%) translateY(-4px);
}

.tooltip-inside i {
  margin-left: 6px;
  color: #f39c12;
}


/* ui color by % */
.percent-green {
  background-color: #2ecc705b;
  font-weight: bold;
}

.percent-orange {
  background-color: #e67d225d;
  font-weight: bold;
}

.percent-red {
  background-color: #e74d3c57;
  font-weight: bold;
}


/* arrow disappearance */
.hide-tooltip {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

